html {
    min-height: 100%;
}

body {
    font: 17px "Helvetica", "Arial", sans-serif;
    color: #FFFFFF;
    background-color: Black;
    background-image: linear-gradient(to right, black, deepskyblue, black);
    background-image: url("images/background.png");
    background-position: center;
    padding-top: 20%;
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    font: 17px "Times New Roman", "Arial", sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: Black;
    background-image: linear-gradient(to right, black, #1a0055, black);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1000px;
}

header a:link {
    color: White;
}

header a:visited {
    color: White;
}

a:link {
    color: deepskyblue;
}

a:visited {
    color: deepskyblue;
}

.portImg {
    width: 35%;
    min-width: 300px;
}
        
nav {
    position: fixed;
    top: 160px;
    text-align: left;
    right: 0%;
    background: -webkit-linear-gradient(left, black, grey);
    background: -o-linear-gradient(left, black, grey);
    background: -moz-linear-gradient(left, black, grey);
    background: linear-gradient(to right, black, grey);
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid;
    border-radius: 20px;
    -webkit-transition: width 1s;
    transition: width 1s;
    width: 100px;
}

    nav h3 {
        text-align: center;
    }

    nav ul {
        display: none;
        width: 120px;
        list-style-type: none;
    }

    nav:hover {
        width: 150px;
    }

    nav:hover > ul {
        display: block;
    }

.anchor {
    display: block;
    height: 150px;
    margin-top: -150px;
}

iframe {
    display: block;
    margin: auto;
    width: 720px;
    height: 405px;
}

h1 {
    font: 30px "Helvetica", "Arial", sans-serif;
    padding-left: 5%;
}

h2 {
    font: 28px "Helvetica", "Arial", sans-serif;
    text-align: center;
}

header table {
    position: fixed;
    top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    height: 40px;
    background-color: White;
}

header th {
    width: 20%;
    background-color: Black;
}

table {
    border: 3px solid grey;
    width: 100%;
}

th, td {
    border: 3px solid grey;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

.data {
    position: absolute;
    top: 200px;
    margin: 0px 60px 20px 60px;
    padding-left: 20%;
    padding-right: 20%;
    z-index: -1;
    background-color: rgba(25, 25, 25, 0.5);
    max-width: 1600px;
}

@media (max-width: 1600px) {
    .data {
        position: absolute;
        top: 200px;
        left: 0px;
        right: 0px;
        margin: 0px 60px 20px 60px;
        padding-left: 55px;
        padding-right: 100px;
        z-index: -2;
        background-color: rgba(25, 25, 25, 0.5);
        min-width: 800px;
    }
}

.blog {
    position: relative;
    top: 0px;
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: -1;
    background-color: rgba(10, 10, 10, 1.0);
    max-width: 1600px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: -20px;
    width: 100%;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #1a0055;
    background-image: linear-gradient(to right, black, #1a0055, black);
    letter-spacing: 2px;
}